@model ListingsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">

<h1>Index</h1>
<p>
    <a asp-controller="Listings" asp-action="Create">Create New</a>
</p>

<form asp-controller="Home" asp-action="Index" method="get">
    Neighbourhood: <select asp-for="Neighbourhood" asp-items="Model.Neighbourhoods">
        <option value="">All</option>
    </select>
    Min price: <input type="number" asp-for="MinPrice" />
    Max price: <input type="number" asp-for="MaxPrice" />
    Nr of reviews: <input type="number" asp-for="NumberOfReviews" />
    <input type="submit" value="Filter" />
</form>

<div id="map" style="width: 100%; height: 500px;"></div>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaWtiZW5kZXNqYWFrIiwiYSI6ImNsMnVjdnRrZDAwdWcza296Zm1zN2pnbXoifQ.FrZP3oNq-RBL9RMJES4xsQ';
    map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [4.902318081500600, 52.37851665631290],
        zoom: 11,
    });
    map.on('load', () => {
        map.addSource('listings', {
            type: 'geojson',
            data: @Json.Serialize(Model.Listings),
            cluster: true,
            clusterMaxZoom: 14,
            clusterRadius: 50
        });
        map.addLayer({
            id: 'clusters',
            type: 'circle',
            source: 'listings',
            filter: ['has', 'point_count'],
            paint: {
                'circle-color': [
                    'step',
                    ['get', 'point_count'],
                    '#a0a0a0',
                    100,
                    '#848484',
                    400,
                    '#424242',
                    750,
                    '#222222'
                ],
                'circle-radius': [
                    'step',
                    ['get', 'point_count'],
                    20,
                    100,
                    30,
                    750,
                    40
                ]
            }
        });

        map.addLayer({
            id: 'cluster-count',
            type: 'symbol',
            source: 'listings',
            filter: ['has', 'point_count'],
            layout: {
                'text-field': '{point_count_abbreviated}',
                'text-size': 16,
            },
            paint: {
                "text-color": "#ffffff"
            }
        });

        map.addLayer({
            id: 'points',
            type: 'circle',
            filter: ['!', ['has', 'point_count']],
            source: 'listings',
            paint: {
                'circle-color': '#000',
                'circle-radius': 6,
            }
        });
    })
</script>